.Exercises-Text {
    color: rgb(33, 37. 41);
    font-family: Roboto;
    font-size: 16px;
    height: 1564.8px;
    padding-top: 40px;
    padding-bottom: 150px;
}

p {
    font-family: Arial;
    font-size: 14px;
    color: #606060; 
    margin-top: 0;
    margin-bottom: 0;
}

.video-title {
   
   font-weight: bold;
   font-size: 15px;
   width: 300px;
   line-height: 24px;
   margin-bottom: 5;
}

.video-stats {        
    margin-bottom: 16px;
}

.video-author {
    margin-bottom: 20px;
}

.video-description {
    width: 284px;
    line-height: 22px;
    margin-bottom: 20px;
}

.apple-banner {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.span-example {
    cursor: pointer;
}

.span-example:hover {
    text-decoration: underline;
}