.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(120, 82, 178);
    color: white;
    height:50px;
    align-items: center;
}

.home {
    cursor: pointer;
    margin-left: 20px;
}

.input {
    border-radius: 15px;
    width:600px;
    height: 30px;
    border: none;
    padding-left: 20px;
    margin-top: 12px;
    margin-bottom: 12px;
}


.download {
    margin-right: 20px;
}

.btn {
    border: 1px solid white;
    background-color: rgb(128,82,178);
    padding:6px 10px 6px 10px;
}